<footer class="footer-b">
	<div class="wrapper-padding">
		<div class="footer-left">© Copyright 2015 by Exalogic Solution Pvt. Ltd. All rights reserved.</div>
		<div class="footer-social">
			<a href="#" class="footer-twitter"></a>
			<a href="#" class="footer-facebook"></a>
			<a href="#" class="footer-vimeo"></a>
			<a href="#" class="footer-pinterest"></a>
			<a href="#" class="footer-instagram"></a>
		</div>
		<div class="clear"></div>
	</div>
</footer>